/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

ion-tab-button.tab-selected {
    color: #20d0ff!important; /* active icon + label color */
}

.appPrimary {
    --background: #20d0ff; /* iOS red */
    --color: #fff;          /* icon color */
  }
